<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I'm a creative and passionate third-year student studying Computer Science at the Uninversity of Washington.
          I've been coding since early middle school, and I've been designing games since around the same time. Once a
          former FRC team captain, my dream is to get a job in the software develpment or gaming development industry
          that I'm passionate about.</p>
      </div>
      <div class="col-lg-4">
        <p>Whether you're looking for someone to job shadow or work on specific projects, I'm an adaptive learner
          that can do anyting I set my mind to. I have experience working on competitive robots, hackathon sites, and
          vibecoding projects. Not to mention various graphics I've had to make for my onw personal projects. Also,
          this website is a template and I think I'm required to provide the download link here.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
